*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(134, 178, 193, 0.59);
}
::-webkit-scrollbar-thumb {
    background: #24AAF3;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #187ED0;
}
html{
    font-family: 'Poppins' , sans-serif;
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

header{
    height: 100vh;
    background: linear-gradient(180deg, #EFFBFF 0%, #FFFFFF 100%);
    padding-top: 60px;
    padding-left: 100px;
    padding-right: 100px;
}

.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul{
    display: flex;
    align-items: center;
    gap: 40px;
    list-style: none;
}

nav a{
    text-decoration: none;
    color: #374955;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    transition: .6s  ease;
}

nav a:hover{
    color: #187ED0;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.display{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 100px;
}

.displayCtn h1{
    font-weight: 800;
    font-size: 32px;
    line-height: 46px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #374955;
}

.displayCtn{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.displayCtn p{
    font-weight: 500;
    font-size: 12px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    color: rgba(55, 73, 85, 0.8);
}

.input{
    background: #EFFBFF;
    border: 1px solid #BEE1FD;
    height: 43px;
    width: 480px;
    border-radius: 10px;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);

}

.input input{
    background-color: transparent;
    border: none;
    height: 43px;
    width: 100%;
    padding-left: 20px;
    border-radius: 10px;
}

.input a{
    background-color: #187ED0;
    border-radius: 10px;
    color: #EFFBFF;
    height: 43px;
    width: 158px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 12px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.aboutUs{
    padding: 0 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 80px;
}

.aboutUs h1{
    font-weight: 700;
    font-size: 20px;
    color: #187ED0;
    letter-spacing: 0.05em;
    text-transform: capitalize;
}

.aboutUs p{
    color: rgba(55, 73, 85, 0.8);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
}

.firstPa{
    display: flex;
    margin-top: 100px;

}

.pa{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lastPa{
    margin-top: 20px;
    gap: 20px;
}

.illu{
    margin-left: 100px;
}

.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 100px;
}

.prd{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    border-radius: 80px;
    padding: 40px 40px;
    gap: 40px;
    margin-top: 200px;

}

.prd h1{
    font-weight: 800;
    font-size: 36px;
    color: #187ED0;
    letter-spacing: 0.05em;
}

.prdCtn{
    display: flex;

}

.prd p ,li{
    color: rgba(55, 73, 85, 0.8);
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.05em;
}

.prdPa{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.prdIllu{
    margin-left: 50px;

}

.prd a{
    display: flex;
    color: #187ED0;
    gap: 20px;
    transition: .6s ease;
}
.prd a:hover{
    margin-left: 40px;
}

.why{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    width: 100%;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 40px;
    text-align: center;
    gap: 10px;
}

.why p{
    color: rgba(55, 73, 85, 0.8);
    font-size: 16px;
    font-weight: 400;
    line-height: 30px;
}

.why h3{
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    color: #374955;
    font-size: 16px;
    font-weight: 700;
}
.why img{
    margin-bottom: 20px;
}

.why-1 img{
    width: 400px;
}

.whyUs{
    margin-top: 200px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
    padding: 0 100px;
}

.why-2{
    display: flex;
    width: 100%;
    gap: 20px;
}

.contact{
    padding: 0 100px;
    margin-top: 200px;
}

.contactForm{
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    width: 100%;
    border-radius: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}



.form{
    width: 70%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

}

.form input{
    width: 100%;
    height: 43px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    background: #FFFFFF;
    border: none;
    padding-left: 20px;
}

.contactInput{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 610px;
}

.contactImg img{
    border-radius: 0px 40px 40px 0px;
}

.names{
    display: flex;
    gap: 20px;
    width: 100%;
}

.names > div{
    width: 50%;
}
.error {
    color: red;
}
.form h1{
    font-size: 36px;
    font-weight: 800;
    letter-spacing: 0.05em;
    color: #187ED0;
}

.form a{
    padding: 12px 52px;
    background-color: #187ED0;
    color: #EFFBFF;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

footer{
    margin-top: 200px;
    height: 270px;
    width: 100%;
    padding: 70px 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: rgba(55, 73, 85, 0.8);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.cpyWrite{
    display: flex;
    color: rgba(55, 73, 85, 0.8);
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.05em;
}

.cpyWrite a{
    font-weight: 800;
    text-decoration: underline;
    cursor: pointer;
}


/* Media Query */


@media screen and (max-width:1200px){
    .displayImg img{
        width: 300px;

    }

    header{
        padding: 0 100px;
        padding-top: 60px;
    }

    .form{
        width: 100%;
        padding: 40px;
    }

    .contactForm{
        width: 100%;
    }

    .contactImg img{
        display: none;
    }

    .displayCtn{
        align-items: center;
    }

    .contactInput{
        width: 100%;
    }

    .firstPa{
        flex-direction: column-reverse;
        gap: 20px;
        align-items: center;

    }

    .illu{
        margin-left: 0;
    }

    .why-1 img{
        width: 300px;
    }


}

@media screen and (max-width:900px){
    .menu{
        flex-direction: column;
        gap: 40px;
    }

    .displayImg img{
        display: none;
    }

    .firstPa{
        flex-direction: column-reverse;
        gap: 20px;
    }

    .displayCtn{
        margin-top: 100px;
    }

    .prdCtn{
        flex-direction: column-reverse;
        align-items: center;
    }

    .prd{
        border-radius: 40px;
    }

    .why-1 img{
        width: 200px;
    }

    .why-2{
        flex-direction: column;
        gap: 40px;
    }

}

@media screen and (max-width:600px){
    header{
        padding: 0 20px;
        padding-top: 40px;
    }

    .aboutUs{
        padding: 0 20px;
    }

    .displayCtn h1{
        font-size: 24px;
        text-align: center;
    }

    .firstPa img{
        width: 300px;
    }

    .firstPa{
        align-items: center;
    }

    .illu{
        margin-left: 0;
    }

    .why{
        padding: 40px 20px;
        border-radius: 40px;
    }

    .why p{
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
    }

    .why h3{
        font-size: 14px;
    }

    .why img{
        width: 40px;
    }


    .product{
        padding: 0 20px;
    }

    .why-1 img{
        width: 100px;
    }
}

@media screen and (max-width:500px){
    .displayCtn h1{
        font-size: 16px;
        line-height: 20px;
    }

    .displayCtn{
        gap: 15px;
    }

    .input{
        width: 360px;
        height: 42px;
    }

    .input a{
        height: 40px;
        top: 0;
        width: 100px;
    }

    .aboutUs h1{
        text-align: center;
    }

    footer{
        padding: 0 20px;
        padding-bottom: 40px;
        justify-content: center;
        gap: 40px;
    }

    .contactForm{
        border-radius: 40px;
    }

    .form{
        padding: 20px;
    }

    .whyUs{
        margin-top: 100px;
    }

    .prd{
        margin-top: 100px;
    }

    .aboutUs{
        margin-top: 100px;
    }





}

@media screen and (max-width:470px){

    .input{
        width: 350px;
        height: 42px;
    }

    .input a{
        height: 40px;
        top: 0;
        width: 80px;
    }

    .prd{
        padding: 20px;
    }

    .whyUs{
        padding: 0 20px;
    }

    .contact{
        padding: 0 20px;
    }

}