@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --pirmary-blue: #187ED0;
    --secondary-blue: #24AAF3;
    --third-blue: #EFFBFF;
}
/* scroll bar */
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgba(134, 178, 193, 0.59);
}
::-webkit-scrollbar-thumb {
    background: #24AAF3;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #187ED0;
}

.box-shadow-xl{
     /*box-shadow: -1px 3px 16px 11px rgba(196,196,196,0.91);*/
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.1) !important;
}
.box-shadow{
     /*box-shadow: -1px 3px 2px 2px rgba(196,196,196,0.91) !important;*/
    box-shadow: 0px 4px 8px 4px rgba(0, 0, 0, 0.1) !important;
}

.glass {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
}

.text-argument{
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: rgba(55, 73, 85, 0.8);
}
.title-argument {
    text-align: center;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.05em;
    color: #374955;
    text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
